@use "pages/home";
@use "pages/sort";

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('~/assets/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('~/assets/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body *, input {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.home-container, .sort-container {
  max-width: 768px;
  margin: 0 auto;
}

input {
  font-size: 1rem;
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 0.25rem;
  outline: none;
}

input {
  color: hsl(0, 0%, 5%);
}

input::placeholder {
  color: hsl(0, 0%, 40%);
}

input:focus {
  border-color: hsl(0, 0%, 5%);
  outline: 1px solid hsl(0, 0%, 5%);
}

button {
  font-size: 1.5rem;
  padding: 0;
  min-width: 2rem;
  min-height: 2rem;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.25rem;
  outline: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 20%);
}

button:active {
  background-color: hsl(0, 0%, 30%);
}

button.danger:hover {
  background-color: hsl(0, 77%, 59%);
}