.sort-container {
  padding: 1rem;

  strong {
    font-size: 2rem;
  }

  .sort {
    button {
      color: hsl(0, 0%, 5%);
      background-color: transparent;
  
      padding: 2rem;
  
      border-radius: 1rem;
    }
  
    button:hover {
      background-color: hsl(0, 0%, 95%);
    }
  
    .controls {
      display: grid;
      gap: 1rem;
    }
  
    .choices {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  
    .choice {
      flex: 1;
      border: 1px solid hsl(0, 0%, 25%);
      word-break: break-all;
    }
  
    .extra-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
    
    .extra-actions button {
      flex: 1;
      border: 1px solid hsl(0, 0%, 25%);
      margin: 0;
    }
  
    .progress-bar {
      position: relative;
      width: 100%;
      height: 2rem;
      background: #ddd;
      border-radius: 0.5rem;
      overflow: hidden;
      margin-top: 1.5rem;
  
      .progress {
        height: 100%;
        background: #42b983;
        transition: width 0.3s ease;
      }
  
      p {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .result {
    display: grid;
    gap: 0.5rem;
  }

  .export-wrapper {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -1;
  }

  .export-area {
    width: 786px;
    background: #fff;
    overflow: hidden;
    padding: 2rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .result-title {
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .podium {
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    
    .podium-item {
      background: #f7f7f7;
      border-radius: 0.5rem;
      display: grid;
      place-content: start;
      flex: 1;
      overflow: hidden;
      border: 1px solid #e0e0e0;

      &.pos-1 {
        background: #ffeaa7;
        border-color: #e1c25a;
      }

      &.pos-2 {
        background: #dfe6e9;
      }

      &.pos-3 {
        background: #f8d5b7;
      }

      .podium-image {
        width: 100%;
        transform: scale(1.05);
        object-fit: cover;
      }

      .podium-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0.5rem;

        .podium-content-row-1 {
          display: flex;
          align-items: start;
        }

        .podium-rank {
          width: 17.5%;
          font-size: 1.5rem;
          font-weight: 700;
        }

        .podium-text {
          width: 82.5%;
          font-size: 1.5rem;
          font-weight: 700;
          word-break: break-all;
        }
        .podium-score {
          opacity: .7;
          font-size: 0.85rem;
        }
      }
    }
  }

  .ranking-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

    .rank-card {
      background: #f7f7f7;
      border-radius: 0.5rem;
      overflow: hidden;
      border: 1px solid #e0e0e0;
      display: flex;
      flex-direction: column;

      .rank-card-image {
        width: 100%;
        transform: scale(1.05);
        object-fit: cover;
      }

      .rank-card-content {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .rank-card-content-row-1 {
          display: flex;
          align-items: start;
        }

        .rank-number {
          width: 17.5%;
          font-weight: 700;
        }

        .rank-text {
          width: 82.5%;
          font-weight: 600;
          font-size: .9rem;
          word-break: break-all;
        }

        .rank-score {
          opacity: .7;
          font-size: .8rem;
        }
      }
    }
  }

  .button-wrapper {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
    
    .navigation {
      display: grid;
      gap: 1rem;
    }

    .share-stuff {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 0.75rem;
      padding: 1rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
    }

    .button-home {
      background: #4c6ef5;
      color: #fff;

      &:hover {
        background: #3b5bdb;
      }
    }

    .button-restart {
      background: #7e7e7e;
      color: #fff;

      &:hover {
        background: #6d6d6d;
      }
    }

    .button-outline {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      background: transparent;
      border: 2px solid #dcdcdc;
      color: #333;

      &:hover {
        background: #f8f9fa;
      }

      .icon {
        font-size: 1.25rem;
      }
    }
  }
}